<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sethphat.gigapet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gigapet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gigapet"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContinueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CategoriesActivity" />
        <activity
            android:name=".EatActivity"
            android:label="@string/title_activity_eat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DrinkActivity"
            android:label="@string/title_activity_drink"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".BackgroundActivity" />
        <activity android:name=".SkinActivity"></activity>
    </application>

</manifest>